<!doctype html>
<title> Unauthorized</title>

<head>
        <title>Hello World</title>
    
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/static/hello/css/bootstrap.min.css">
    
        <!-- FontAwesome CSS -->
        <link rel="stylesheet" href="/static/hello/css/font-awesome.min.css">
    
        <!-- Styles -->
        <link rel="stylesheet" href="/static/hello/style.css">
    </head>
    <body>
            <header class="site-header">
                <div class="site-branding">
                    <h1 class="site-title"><a href="/main" rel="home"><img src="/static/hello/images/logo.png" alt="Logo"></a></h1>
                </div><!-- .site-branding -->
            
                <div class="hamburger-menu">
                    <div class="menu-icon">
                        <img src="/static/hello/images/menu-icon.png" alt="menu icon">
                    </div><!-- .menu-icon -->
            
                    <div class="menu-close-icon">
                        <img src="/static/hello/images/x.png" alt="menu close icon">
                    </div><!-- .menu-close-icon -->
                </div><!-- .hamburger-menu -->
            </header><!-- .site-header -->
            
            <nav class="site-navigation flex flex-column justify-content-between">
                <div class="site-branding d-none d-lg-block ">
                    <h1 class="site-title"><a href="/main" rel="home"><img src="/static/hello/images/logo2.png" alt="Logo"></a></h1>
                </div><!-- .site-branding -->
            
                <ul class="main-menu flex flex-column justify-content-center">
                    <li class="current-menu-item">{{firstname}}</li>
                        <li><a href="/main">Home</a></li>
                        <li><a href="/album">Album</a></li>
                        <li><a href="/photo">Photos</a></li>
                        <li><a href="/search">Search</a></li>
                        <li><a href="/top">Scoreboard</a></li>
                        <li><a href="/logout">Login</a></li>
                        <li><a href="/register/">Sign Up</a></li>
                </ul>
            
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            
               
            </nav><!-- .site-navigation -->
            
            <div class="nav-bar-sep d-lg-none"></div>
            <ul class="main-menu flex flex-column justify-content-center">
            <li> Yikes, looks like you need to <a href='/login'>login</a></li>
            <li> or <a href='/register'>make an account</a></li>
             </ul>
            <script type='text/javascript' src='/static/hello/js/jquery.js'></script>
            <script type='text/javascript' src='/static/hello/js/custom.js'></script>
            
            </body>
