<head>
        <title>Upload</title>

        
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/static/hello/css/bootstrap.min.css">
    
        <!-- FontAwesome CSS -->
        <link rel="stylesheet" href="/static/hello/css/font-awesome.min.css">
    
        <!-- Styles -->
        <link rel="stylesheet" href="/static/hello/style.css">
    </head>
    <body>
    <header class="site-header">
        <div class="site-branding">
            <h1 class="site-title"><a href="/main" rel="home"><img src="/static/hello/images/logo.png" alt="Logo"></a></h1>
        </div><!-- .site-branding -->
    
        <div class="hamburger-menu">
            <div class="menu-icon">
                <img src="/static/hello/images/menu-icon.png" alt="menu icon">
            </div><!-- .menu-icon -->
    
            <div class="menu-close-icon">
                <img src="/static/hello/images/x.png" alt="menu close icon">
            </div><!-- .menu-close-icon -->
        </div><!-- .hamburger-menu -->
    </header><!-- .site-header -->
    
    <nav class="site-navigation flex flex-column justify-content-between">
        <div class="site-branding d-none d-lg-block ">
            <h1 class="site-title"><a href="/main" rel="home"><img src="/static/hello/images/logo2.png" alt="Logo"></a></h1>
        </div><!-- .site-branding -->
    
        <ul class="main-menu flex flex-column justify-content-center">
            <li class="current-menu-item">{{firstname}}</li>
            
            <li><a href="/main">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/album">Album</a></li>
            <li><a href="/photo">My Photo</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/top">Scoreboard</a></li>
            <li><a href="/findfriends">Connect</a></li>
            <li class="current-menu-item"><a href="/upload">Upload</a></li>
            <li><a href="/logout">Logout</a></li>
            
        </ul>
    
    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    </p>
    
       
    </nav><!-- .site-navigation -->
    
    <div class="nav-bar-sep d-lg-none"></div>
    <body>
        
        {% if suggestions %}
            
            <ul class="main-menu flex flex-column justify-content-center">
                <li><h1>Upload a photo</h1></li>
                <li>Suggested Tags:</li>
                {% for suggestion in suggestions %}
                    <li><a href="/photo/{{suggestion[0]}}">{{suggestion[0]}}</a></li>
                {% endfor %}
                <li>Go To: <a href="#start">Upload photo</a></li>
                <br/>
                <br/>
                <br/>
            </ul>
        {% endif %}
        <ul class="main-menu flex flex-column justify-content-center">
    
                <br/>
                <br/>
                <br/>
                <br/>
                {% if message %}       
                <li class="justify-content-center align-items-center" style="color: orangered; margin-left: 200px">
                    <h1>{{message}}</h1>
                </li>
                {% endif %}
            
                <li><h1>Upload a photo</h1></li>
                <li id="start">
                    <form method='post' enctype="multipart/form-data" action="/upload">
                        <input type="text" name="suggest" placeholder="Format: dog, cat">
                        <button class ="btn btn-outline-success" type="submit" name="suggest" placeholer="Tag Suggestions">Suggest</button>
                    </form>
                </li>    
                   
                
                <form method="post" enctype="multipart/form-data" action="/upload">
                    <li>Caption:  <input type="text" name="caption" required='true' /></li>
                    <li>Tags:  <input type="text" name="tag" required='true' placeholder="Format: dog, cat" /></li>   
                    <li>Choose Album:</li>
                        {% for album in albums %}
                            <li><input type="checkbox" placeholder="Album" name="aname" value ="{{album[1]}}" >{{album[1]}}</li>
                        {% endfor %}     
                    <li><label for="photo" >Select photo: </label><input type="file" name="photo" required='true' style="margin-left: 18px" />
                    <li><button  type="submit" name="upload" class ="btn btn-primary btn-lg" >Upload</button></li>
                </form>
            
                <li>
                    <form method='post' enctype="multipart/form-data" action='/album'>
                        <input tpye="text" name="create" placeholder="Create A New Album">
                        <button class ="btn btn-outline-info" type="submit" name="create" placeholder="Create">Create</button>
                    </form>
                </li>
        </ul>
    </body>
    <script type='text/javascript' src='/static/hello/js/jquery.js'></script>
    <script type='text/javascript' src='/static/hello/js/custom.js'></script>
    </body>
